body {
  background-color: black;
  color: hotpink;
  font-family: "Courier New", monospace;
  text-align: center;
}
marquee {
  color: cyan;
  font-size: 24px;
}
.box {
  border: 2px dashed hotpink;
  padding: 20px;
  margin: 50px;
}

body.inverted {
  filter: invert(100%);
  background-color: white;
}

